body {
    background-color: #000 !important;
    overflow-x: hidden;
}

#nav {
    position: absolute;
    z-index: 2;
    top: 30px;
    margin: 0ps auto;
}

.nav-link {
    color: white !important;
    font-size: 20px !important;
}

.nav-item .active {
    color: goldenrod !important;
}

.text-golden {
    color: goldenrod;
}

.leftleaf {
    height: 300px;
    position: absolute;
    top: 0;
    left: -50px;
    z-index: 3;
}

.rightleaf {
    height: 300px;
    position: absolute;
    top: 190px;
    right: -150px;
    z-index: 30;
}

.menu ul li a {
    color: white;
    font-size: 19px;
}

p {
    font-family: Canela Thin;
}

#award {
    background-image: url('./assets/image/award-bg.png');
}