/* swipper css start */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* swipper css end*/

/* 
.border-underline {
    border: 1px solid white;
    border-bottom: 1px solid white; 
padding-bottom: 10px;
}
*/